@import 'variables.scss';
@import 'mixins.scss';

.wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

.text-wrapper {
    justify-content: center;
		align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 30px;
}



.person-icon {
    height: 40px;
    width: 40px;
    background-size: 100% 100%;
    background-image: url("../assets/man-icon.svg");
    margin: auto;
    margin-top: 20px;
}

.document-icon {
    height: 40px;
    width: 40px;
    background-size: 100% 100%;
    background-image: url("../assets/document.svg");
    margin: auto;
    margin-top: 20px;
}

.logo {
    margin: 20px;
    height: 35px;
    width: 288px;
}

.blue-info-card  {
		@include info-card;
    background-color: $dips-dark-blue;
}

.orange-info-card  { 
		@include info-card;
    background-color: $dips-dark-orange;
		align-items: center;
} 


@media(max-width:800px) {
    .wrapper {
        flex-direction: column;
    }
}