@import "variables.scss";


.conditions-wrapper {
    font-family: 'CircularStd';
    width: 70%;


}

.conditions-container {
    display: grid;
    padding: 0.5%;

    height: 65vh;

    background-color: white;
    border-radius: 10px;
    border: 2px solid $neutral-black;
}

.conditions-error {
    color: black;
    text-align: center;
    font-size: large;
}

.conditions-title {
    color: $dips-dark-blue;
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.conditions-list {
    // max-height: 10%;
    padding: 0;
    margin: 0;
    list-style-type: none;

    // height: 90%;

    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: $netural-grey white;


    background-color: white;
}

.conditions-listitem {
    margin: 1%;
    padding: 10px;
    height: 10vh;
    background-color: $dips-dark-blue;
    border-radius: 10px;

}

