@import "variables.scss";
@import "mixins.scss";

.documents{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.documentBox{
    @include info-card;
   
    
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: $dips-dark-blue;
    width: 200pt;
    height: 100pt;
    margin: 10pt;
    border-radius: 10pt;
    p{
        color: white;
        font-family: 'CircularStd';
        margin: 20px;
    }

}

.total{
    width: 100%;
    margin: auto;
}
.metaDataBox{
    // display: grid;
    margin: auto;
    width: 70%;
    height: 100pt;
    background-color: $dips-dark-blue;
    border-radius: 10pt;
}

.metadataPatient{
    display: inline-grid;
    width: 40%;
    text-align: center;
    border-right: 2px solid;
    border-right-color: $dips-light-turqouise;
    p {
        color: white;
        font-family: 'CircularStd';
        font-size: 20pt;
    }
}

.metadataSelectFile{
    display: inline-grid;
    width: 50%;
    text-align: center;
    border-right-color: $dips-light-turqouise;
    p {
        color: white;
        font-family: 'CircularStd';
        font-size: 20pt;
    }
    select{
        color: white;
        font-family: 'CircularStd';
        font-size: 20pt;
        background-color: $dips-dark-blue;
        border: 0pt;
        
    }
    
}

.option{
    background-color: $dips-dark-blue;
    border-radius: 50pt;
    border: 0pt;
    &:hover{
        background-color: $dips-dark-blue;
    }
}

.documentViewer{
    margin: auto;
    margin-top: 5pt;
    width: 70%;
    height:calc(90vh - 100pt) ;
    border-radius: 10pt;
    iframe{
        border-radius: 10pt;
        margin: auto;
        width: 100%;
        height: 100%;
    }
}

.documentInfo{
    margin: auto;
    margin-top: 2pt;
    width: 70%;
    height:100pt ;
    border-radius: 10pt;
    background-color: $dips-dark-blue;
    text-align: center;
    p {
        color: white;
        font-family: 'CircularStd';
        font-size: 20pt;
        // margin-top: 50%;
    }
}

.documentError{
    @include info-card;
    background-color: $dips-dark-orange;
    margin: auto;
    margin-top: 3pt;
    border-radius: 10pt;
}

.dipsPrimaryButton {
    font-family: $font-family-base;
    min-height: 42px;
    height: fit-content;
    min-width: 150px;
    width: fit-content;
    text-align: center;
    letter-spacing: 0.01em;
    border-radius: 100px;
    border-style: none;
    font-size: 20px;
    border-color: $dips-turqouise;
    color: $white;
    background-color: $dips-primary-blue;
    cursor: pointer;
    padding: 10px;
    margin-top: 50%;
    margin-bottom: auto;
    &:active,
    &:focus {
        border-style: fill;
    }
    
    &:hover {
        background-color: $dips-dark-blue;
        color: #00149E;
        text-decoration: none;
    }
}


.buttonLink {
    text-decoration: none;
    color: white;
    font-family: 'CircularStd';
    font-size: 18px;
}

.goBack{
    margin: auto;
    width: 70%;
  }