.logo {
    margin: 20px;
    height: 35px;
    width: 288px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../open-dips-logo.png");
}

.mainHeader {
    display: flex;
}