.logo {
    margin: 40px;
    height: 35px;
    width: 288px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../open-dips-logo.png");
}

.github-logo {
    margin: 40px;
    height: 60px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../github-mark.png");
}

.float-right {
    margin-left: auto;
    order: 2;
}

.mainHeader {
    display: flex;
}