.person-icon {
    height: 40px;
    width: 40px;
    background-size: 100% 100%;
    background-image: url("../assets/man-icon.svg");
    margin: auto;
    margin-top: 20px;
}

.document-icon {
    height: 40px;
    width: 40px;
    background-size: 100% 100%;
    background-image: url("../assets/document.svg");
    margin: auto;
    margin-top: 20px;
}

.appointment-icon {
  height: 40px;
  width: 40px;
  background-size: 100% 100%;
  background-image: url("../assets/appointment.svg");
  margin: auto;
  margin-top: 20px;
}

.encounter-icon {
  height: 40px;
  width: 40px;
  background-size: 100% 100%;
  background-image: url("../assets/encounter.svg");
  margin: auto;
  margin-top: 20px;
}

.appointment-icon {
  height: 40px;
  width: 40px;
  background-size: 100% 100%;
  background-image: url("../assets/appointment.svg");
  margin: auto;
  margin-top: 20px;
}

.encounter-icon {
  height: 40px;
  width: 40px;
  background-size: 100% 100%;
  background-image: url("../assets/encounter.svg");
  margin: auto;
  margin-top: 20px;
}

.condition-icon {
    height: 40px;
    width: 40px;
    background-size: 100% 100%;
    background-image: url("../assets/condition.svg");
    margin: auto;
    margin-top: 20px;
}

.back-arrow-icon {
  display: inline-flex;
  height: 40px;
  width: 40px;
  background-size: 100% 100%;
  background-image: url("../assets/back-arrow.svg");
  margin: auto;
  // margin-top: 20px;
}