/* Colors */
$dips-light-turqouise: #E1F9F6;
$dips-light-turqouise-secondary: #E2F9F6;
$dips-primary-blue: #00149E;
$dips-turqouise: #A8F0E9;
$dips-dark-blue: #050948;
$neutral-black: #262626;
$white: #ffff;
$netural-grey: #8F9496;
$dips-dark-orange: #F0664F;


/*Fonts*/
$font-family-base: 'Circular', Helvetica, sans-serif;