html, body { 
        height: 100%;
        background-color: #E1F9F9;
        color: white;
}

#root { 
        height: 100%;
        align-items: center;
        justify-content: center;
} 

.wrapper {
        align-items: center;
        justify-content: center;
        display: flex;
}

.text-wrapper {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 60px;
}



.person-icon {
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        height: 40px;
        background-size: 100% 100%;
        background-image: url("./assets/man-icon.svg");
}

.logo {
        margin: 20px;
        height: 35px;
        width: 288px;
}

.card-name {
        font-size: x-large;
}

.blue-info-card {
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        background-color: #050948;
        width: 400px;
        height: 400px;
        filter: drop-shadow(0 0 0.7rem grey);
}
