html, body { 
        height: 100%;
        background-color: #E1F9F9;
        color: white;
}
#root { 
        height: 100%;
} 

.wrapper {
        align-items: center;
        justify-content: center;
        display: flex;
        height: 100%;
}

.text-wrapper {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 60px;
}



.person-icon {
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        height: 40px;
}

.logo {
        margin: 40px;
        height: 70px;
        width: 288px;
        background-repeat: no-repeat;
        background-image: url("../public/open-dips-logo.png");
}

.card-name {
        font-size: x-large;
}

.blue-info-card {
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: #050948;
        width: 400px;
        height: 400px;
}

