html, body { 
  height: 100%;
  background-color: #E1F9F9;
  color: white;
}

#root { 
  height: 100%;
  align-items: center;
  justify-content: center;
} 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "CircularStd";
  src: local("CircularStd"),
    url("./fonts/CircularStd-Medium.otf") format("truetype");
  font-weight: bold;
}